/****************************
==============================
   table of content 
==============================

1.    Import files
2.    Header
3.   
4.   
5    
6.   
7.   
8.   
9.    
10.    
******************************/
/* Table of Content
====================

1. typography
2. Global styles

====================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
/* ===========================
// Typography
==============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-size: 32px;
  line-height: 42px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-size: 24px;
  line-height: 34px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}

h6 {
  font-size: 16px;
  line-height: 26px;
}

/*============================ 
// Global styles
=============================*/
html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:link,
a:visited,
a:focus {
  text-decoration: none;
  outline: 0;
}

a {
  color: #EB6A52;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
a:hover {
  text-decoration: none;
  color: #EB6A52;
}

input,
textarea,
select,
:focus {
  outline: 0;
  box-shadow: 0;
}

/*==========================
// start  header 
===========================*/
/*==========================
// start   
===========================*/